/* 
 * Cape Elizabeth Community Services Summer Camp Website
 * Written By: Sam Berman
 * Date Updated: June 8, 2020

 * style.css
 */

body {
    margin: 0;
    /*background-color: rgb(218, 219, 224);*/
    background-color: rgb(227, 228, 232);
}

nav {
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

nav ul {
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

@media screen and (max-width: 2000px) {
    nav ul {
        font-size: 15px;
    }

    nav {
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 1100px) {
    nav ul {
        font-size: 14px;
    }
}

@media screen and (max-width: 950px) {
    nav ul {
        font-size: 12px;
    }
}

@media screen and (max-width: 780px) {
    nav ul {
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 550px) {
    nav ul {
        font-size: 1.5vw;
    }

    nav {
        letter-spacing: .7px;
    }

    #staffNavItem span {
        display: none;
    }

    #staffNavItem:after {
        content: "STAFF";
    }
}

@media screen and (max-width: 450px) {
    nav ul {
        font-size: 8px;
    }
}

nav ul li {
    display: inline-block;
    width: 13%;
    list-style: none;
    vertical-align: middle;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav a:hover:not(.logo) {
    background: rgb(62,99,115);
    /*color: rgb(62,99,115);*/
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
}

nav ul li a.active-page {
    /*background: rgb(62,99,115);*/
    /*color: rgb(62,99,115);
    font-weight: bold;
    text-decoration: underline;*/
    /*border: 6px solid transparent;*/

    background: rgb(62,99,115);
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
}

@media screen and (max-width: 2000px) {
    nav a:hover:not(.logo) {
        padding: 6px 8px;
    }

    nav ul li a.active-page {
        padding: 6px 8px;
    }
}

@media screen and (max-width: 950px) {
    nav a:hover:not(.logo) {
        padding: 4px 6px;
    }

    nav ul li a.active-page {
        padding: 4px 6px;
    }
}

.logo img {
    width: 68%;
    vertical-align: middle;
    padding-top: 4px;
    padding-bottom: 5px;
}

.thumbnail {
    position: relative;
    display: inline-block;
}

.thumbnail img {
    display: block;
    width: 100%;
}

.caption {
    position: absolute;
    top: 19.5%;
    left: 32.5%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: #000;
}

.caption .top-p {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 0px;
}

.caption .bottom-p {
    font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 2000px) {
    .caption .top-p {
        font-size: 50px;
    }

    .caption .bottom-p {
        font-size: 40px;
    }
}

@media screen and (max-width: 1300px) {
    .caption .top-p {
        font-size: 50px;
    }

    .caption .bottom-p {
        font-size: 40px;
    }
}

@media screen and (max-width: 1150px) {
    .caption .top-p {
        font-size: 40px;
    }

    .caption .bottom-p {
        font-size: 32px;
    }
}

@media screen and (max-width: 925px) {
    .caption .top-p {
        font-size: 35px;
    }

    .caption .bottom-p {
        font-size: 27px;
    }
}

@media screen and (max-width: 800px) {
    .caption .top-p {
        font-size: 30px;
    }

    .caption .bottom-p {
        font-size: 22px;
    }
}

@media screen and (max-width: 700px) {
    .caption .top-p {
        font-size: 25px;
    }

    .caption .bottom-p {
        font-size: 17px;
    }
}

@media screen and (max-width: 600px) {
    .caption .top-p {
        font-size: 20px;
    }

    .caption .bottom-p {
        font-size: 14px;
    }
}

@media screen and (max-width: 475px) {
    .caption .top-p {
        font-size: 16px;
    }

    .caption .bottom-p {
        font-size: 13px;
    }
}

@media screen and (max-width: 375px) {
    .caption .top-p {
        font-size: 13px;
    }

    .caption .bottom-p {
        font-size: 11px;
    }
}

@media screen and (max-width: 300px) {
    .caption .top-p {
        font-size: 11px;
    }

    .caption .bottom-p {
        font-size: 8px;
    }
}

@media screen and (max-width: 250px) {
    .caption .top-p {
        font-size: 10px;
    }

    .caption .bottom-p {
        font-size: 7px;
    }
}

.main-body h1 h2 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 1.85em;
}

.main-body {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    /*box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 15px;*/
    /*border-right: 2px solid #000;*/
    /*background-color: #fff;*/
    line-height: 180%;
    font-size: 17px;
}

.main-body a:link {
    color: #0040ff;
    background-color: transparent;
    text-decoration: underline;
}

.main-body a:visited {
    color: #0040ff;
    background-color: transparent;
    text-decoration: underline
}

.main-body a:hover {
    color: #000099;
    background-color: transparent;
    text-decoration: none;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 17px;
    right: 17px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #72767a;
    color: #fff;
    cursor: pointer;
    padding: 13px;
    border-radius: 3px;
}

#topBtn:hover {
    background-color: #555;
}

footer {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    line-height: 170%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background-color: rgb(76,99,114);*/
    /*background-color: rgb(49,80,95);*/
    /*background-color: rgb(70,98,113);*/
    background-color: rgb(62,99,115);
    color: rgb(218, 219, 224);
}
